<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      [(ngModel)]="text"
      name="text"
      id="text"
      placeholder="Add Task"
    />
  </div>
  <div class="form-control">
    <label for="text">Day and Time</label>
    <input
      type="text"
      [(ngModel)]="day"
      name="day"
      id="day"
      placeholder="Add Day and Time"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="remainder">Remainder</label>
    <input
      type="checkbox"
      [(ngModel)]="remainder"
      name="remainder"
      id="remainder"
    />
  </div>
  <input type="submit" class="btn btn-block" />
</form>
